.root{
    -fx-background-color: Lightgray;
}

.btn{
    -fx-background-color: cyan;
    -fx-border-color: black;
}
.btn :hover{
    -fx-cursor: hand;
    -fx-background-color: rgba(211, 211, 211, 0.8);
}
.heading {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}
.invalid {
    -fx-border-color: red !important;
    -fx-text-fill: red;
    -fx-border-style: red;
}
.anchor {
    -fx-background-image:url(/image/tree-6792528__340.jpg);
    -fx-background-size: 100% 100%;
}