.root{
    -fx-background-color: Lightgray;
}

.btn{
    -fx-background-color: cyan;
    -fx-border-color: black;
}
.btn :hover{
    -fx-cursor: hand;
    -fx-background-color: rgba(211, 211, 211, 0.8);
}
.heading {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}